body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: cyan;
}

input {
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
